
.container {
    display: grid;
    grid-template-columns: minmax(100px, 1fr) minmax(300px, 3fr) minmax(100px, 1fr);
    grid-template-rows: 100px 500px 200px;
    gap: 10px;
}
.item1 {
    background-color: green;
    grid-column: 1/4;
    grid-row: 1/2;
    border-radius: 5px;
}
.item2 {
    background-color: orange;
    grid-column: 1/2;
    grid-row: 2/3;
    border-radius: 5px;
}
.item3 {
    background-color: yellow;
    grid-column: 2/3;
    grid-row: 2/3;
    border-radius: 5px;
}
.item4 {
    background-color: pink;
    grid-column: 3/4;
    grid-row: 2/3;
    border-radius: 5px;
}
.item5 {
    background-color: blue;
    grid-column: 1/4;
    grid-row: 3/4;
    border-radius: 5px;
}