body {
    display: flex;
    justify-content: center;
    margin-top: 200px;
}
.container {
    background-color: #000000;
    width: 200px;
    height: 245px;
    border-radius: 10px;
}
#c {
    height: 35px;
    width: 30px;
    margin-left: 12px;
    background-color: white;
    border-radius: 4px;
}
.userInput {
    background-color: orange;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
#userInputValue {
    height: 30px;
    border-radius: 4px;
    width: 119px;
}
.buttons {
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 15px;
}
.row {
    display: flex;
    justify-content: space-between;
}
.row button{
    border-radius: 5px;
    width: 30px;
    height: 30px;
    margin-top: 15px;
}
.sign {
    background-color: orange;
}