* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container {
    display: flex;
    height: 80vh;
    background-color: bisque;
    width: 100vw;

.imageDiv {
    flex: 1;
    max-width: 33%;
}

.imageDiv img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.signUpDiv {
    flex: 2;
    background-color: rgb(61, 190, 147);
    height: 100%;
}
.greeting {
    height: 30%;
    background-color:blue ;
}
.greeting h2 {
    margin:0px;
    padding-top: 60px;
    padding-left: 40px;
    padding-left: 40px;
}
.greeting h3 {
    margin:0px;
    padding-top:20px;
    padding-left: 40px;
    padding-left: 40px;
}
.details {
    height: 40%;
    background-color: aquamarine;
}
.nextPage {
    height: 30%;
    background-color: beige;
}
